<!DOCTYPE html>
<html>
  <head>
    <title>Start-up questionnaire</title>
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>
    <meta property="og:title" content="AAA" />
    <meta property="og:description" content="BBB" />
    <meta property="og:url" content="CCC" />
    <meta property="og:image" content="DDD" />
    <meta property="og:type" content="article" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
      <%= yield %>
  </body>
</html>