<!DOCTYPE html>
<html>
 <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <%= favicon_link_tag 'favicon.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', "data-turbolinks-track" => true %>
    <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>

<!-- For Facebook -->          
<meta property="og:title" content="You Have an Idea for a Killer App..." >
<meta property="og:site_name" content="Startup questionnaire"/>
<meta property="og:url" content="http://startup.monkeytech.co.il" />
<meta property="og:description" content="but are you ready to hit the road ? Take this short test to find out if you are ready to take your idea to the next level ...." >
<meta property="fb:app_id" content="1497434937172480" />
<meta property="og:type" content="website" >
<meta property="og:image" content="http://s30.postimg.org/40ijzh129/facebook_share_thumb.png" >


    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1497434937172480',
          xfbml      : true,
          version    : 'v2.2'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
      <%= yield %>
  </body>
</html>